*.R
*.py
*.Rmd
*.sas
*.lst
*.log
*.config
!autoGrader.py
BACKUP/
solutions/
baohan/
dauphintanguy/
hseltman/
goodethomas/
rmdtest/
.spyproject/
.Rproject
__pycache__/
.Rhistory
*.csv
.Rproj.user/
autoGrader.Rproj
