filename_name_fmt: Last, First

config_mod_time: 1503431930.1765916

course_id: 36611

roster_lastname_col: LastName

file_format: %s_%t_%j_%f

email_suffix: @andrew.cmu.edu

roster_name_col: Name

roster_firstname_col: FirstName

roster_email_col: Andrew ID

codefiles: advRHW.R, fake.sas, fake.py, advRHW.Rmd

